/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-display: swap;
  src: local(''),
       url('fonts/EBGaramond/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-display: swap;
  src: local(''),
       url('fonts/EBGaramond/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Han Serif SC';
  font-style: normal;
  font-display: swap;
  src: local(''),
       url('fonts/SourceHanSerif/SourceHanSerifSC-Regular.otf') format('opentype');
}

body {
  font-family: 'EB Garamond', 'Source Han Serif SC', serif;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga';
}

code {
  font-family: 'Roboto Mono', monospace;
}
